.header {
	position: relative;

	&__baner {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 400px;
		background-repeat: no-repeat;
		background-position: center top;

		@media (max-width: 991px) {
			height: 280px;
			background-size: cover;
		}

		@media (max-width: 767px) {
			height: 230px;
		}

		@media (max-width: 479px) {
			height: 180px;
		}
	}

	&__panel {
		position: relative;
		z-index: 4;
		padding-top: 40px;
		background-position: center 72px;
		background-repeat: no-repeat;
		overflow: hidden;

		@media (max-width: 479px) {
			padding-top: 20px;
		}
	}

	&__logo {
		text-align: center;

		img {
			@media (max-width: 479px) {
				max-width: 200px;
			}
		}
	}

	&__subtitle {
		font-size: 37px;
		color: #f65700;
		font-family: $rr;
		text-shadow: 0 0 14px #f65700;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 6px;
		position: relative;
		z-index: 10;

		@media (max-width: 991px) {
			font-size: 34px;
			letter-spacing: 5px;
		}

		@media (max-width: 767px) {
			font-size: 27px;
			line-height: 1;
		}

		@media (max-width: 479px) {
			font-size: 18px;
	    line-height: 1;
	    letter-spacing: 1px;
		}
	}
}